/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#map-container { height: 260px; }	

html {
	margin: 0; 
	padding: 0;
}

body {
	margin-top: 0;
	padding-top: 0;
	background-image: url(../img/games/video-games-death-lara-croft-characters-geralt-of-rivia-raiden-wide.jpg);
	color: white;
}


#brief {
	height: 340px;
 	background-image: url(../img/games/header.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; 

}

.share-it {
	margin-right: 10px; 
	position: absolute;
	margin-top: -64px; 
	right: 0;
	}

#social-list  a {
	margin-right: 7px;
}

.carousel-control {
  padding-top:10%;
  width:5%;
}

.well {
	background-image: url(../img/games/blue.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.user-info {
    display: none;
}

.form-control {
    height: 25px;
}

a {
	font-size: 14px;
}

#new-stream p {
	margin-bottom: 30px;
}

#new-stream p a{
	color: white;
}

#reviews {
	background: none;
	opacity: 50%;
}

#reviews p {
	font-size: 16px;
	margin-top: 0;
}

#reviews h3 {
	margin-bottom: 0;
}

.navbar .nav li a {
	font-size: 14px;
	color: #FF9900;
}

.dropdown-menu li {
	margin: 5px;
}

#alphabetical a {
	margin: 3px;
	color: #FF9900;
	font-size: 18px;
}

#choose-genre {
	width: 80%;
	color: #FF9900;
	font-weight: bold;
}

/* .letter {
	font-size: 32px;
	font-weight: bold;
	color: #FF9900;
} */

#game-container {
	width: 95%;
	margin: 20px;
	background: #003333;
}

#game-container img {
	margin: 15px;
}
.letter {
	border-bottom: thick ridge #FF9900;
	font-size: 32px;
	font-weight: bold;
	color: #FF9900;
}

#game-info {
	margin: 15px;
}

.glyphicon {
	color: orange;
}

.game-in-letter {
	margin-top: 20px;
}
	